/* your custom css */
:root {
    --color-base: #333;
}
.mainContainer {
    max-width: 1200px;
    margin: 0 auto;
}
.grid-block--column {
    padding: 1em 0;
    border-bottom: 1px solid var(--color-base);
}
.title-icon {
    width: 100px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}